body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    background-color: #f4f4f4;
    color: #333;
}

#title {
    text-align: center;
    margin-top: 20px;
}

#imageLoader {
    margin: 20px;
}
#avgColor {
    padding: 4px 4px;
    width: 150px;
    height: 30px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin: 10px auto;
    border-radius: 5px;
    font-size: small; /* Example font size */
}

#selected-image {
    display: block; /* Ensures the image is a block element to avoid bottom margin/spacing */
    margin: 10px auto;
    border: none; /* Confirms no border */
    outline: none; /* Removes focus outline */
    width: 100px; /* Fixed width */
    height: 100px; /* Fixed height */
    object-fit: cover; /* Ensures the image covers the area, might be useful after loading */
    background: transparent; /* Ensures no background is visible */
    visibility: hidden; /* Hides the element until an image is loaded */
    
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.fade-out {
    animation: fadeOut 2s forwards;
}
body {
    text-align: center;
    margin-top: 200px;
    font-family: Arial, sans-serif;
}

#main   {
    font-family: Arial, sans-serif;
    font-size: small;
    align-items: center;
    justify-content: center;
    display: flex;          /* Enables flexbox */
    flex-direction: row;

}

#palette {
    text-align: center;
}

#palette div {
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    transition: transform 0.3s ease-in-out;
    margin: 10px auto;
    width: 150px;
    height: 400px;
    display: inline-block;
}
#palette-codes {
    text-align: center;
}

#palette-codes div {
    transition: transform 0.3s ease-in-out;
    /* margin-top: 10px; */
    width: 150px;
    display: inline-block;
}


select {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 312px;
    height: 42px;
    font-family: Arial, sans-serif;
}

option {
    font-family: Arial, sans-serif;
    font-size: small;
}

button {
    background-color: #FFFFFF;
    color: black;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 200px;
    height: 42px;
}

button:hover {
    background-color: #FFFFFF;
}

#colorPicker { 
    height: 42px;
    border: none;
    outline: none;
}
 ::-webkit-color-swatch {
    border: none;
    border-radius: 2px;
}::-webkit-color-swatch-wrapper {
    padding: 0;
}
#check-mark {
    vertical-align: middle;
}

#file-upload-btn {
    display: inline-block;
    padding: 10px 20px;
    color: black;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: small;
    cursor: pointer;
    /* margin: 30px 10px */
    border-radius: 5px;
    width: 100px;
}

#inputs   {
    align-items: center;
    justify-content: center;
    display: flex; 
    flex-direction: row;
    gap: 5px;
    padding: 0px;
}

#pick-color {
    margin: 0;
    padding: 10px 0px;
    font-family: Arial, sans-serif;
    font-size: small;
    color: #333;
}

#colorpicker-part{
    margin: 0px 0px;
}
#getColorScheme {
    margin: 10px auto;
}
#modeSelect {
    margin: 0px 0px;
}